[Unit]
Description=Ejecuta la creacion de backup completo

[Timer]
OnCalendar=Mon *-*-* 03:50:00
Persistent=true
Unit=backupfull.service

[Install]
WantedBy=multi-user.target
