[Unit]
Description=Ejecuta la creacion de backup incremental

[Timer]
OnCalendar=Tue-Sun *-*-* 03:50:00
Persistent=true
Unit=backupfull.service

[Install]
WantedBy=multi-user.target
