[Unit]
Description=Crear backup completo

[Service]
User=root
Type=simple
ExecStart=/bin/bash /usr/local/bin/backups.sh full remote

[Install]
WantedBy=multi-user.target
