[Unit]
Description=Crear backup incremental

[Service]
User=root
Type=simple
ExecStart=/ path to backupincremental.sh

[Install]
WantedBy=multi-user.target
